/*Reset básico*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    /*Fuente traida desde Google fonts */
    font-family:"Dosis", sans-serif;
    box-sizing: border-box;
    background-color: #FCD2E8;
}

header, main{
    width:100%;
    max-width: 1200px; /*se puede cambiar 900, 1000, etc*/
    margin: 0 auto;
}

section{
    padding: 25px;
}

.top-banner{
    background-color: pink;
    text-align: center;
    padding: 6px 25px;
    font-size: 16px;
    color:rgb(255, 0, 0);
    font-weight: bold;
}

/*NAV*/
.nav-principal{
    background-color: lightpink;
    padding: 15px 25px;
    max-width: 1200px;
    margin: 0 auto;
    position: sticky;
    top:0;
    z-index: 1000;

    /*Agregando Flexbox*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    font-size: 50px;
    font-weight: bold;
    color: darkred;
}

/* Menú de navegación */
.nav-lista{
    list-style: none;

    /*Agregando Flexbox*/
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-lista a{
    text-decoration: none;
    color: darkred;
    transition: 0.3s;
}

.nav-lista a:hover {
    color: #ff0084;
    /* cambio de color al el cursor */
}


#contacto{
    background-color: plum;
    padding: 12px 14px 5px 8px;
    margin: 10px 10px 5px 10px;

}

/*Contenedor de productos*/
.productos-contenedor{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


/*Tarjetas de productos*/
.producto-tarjeta{
    width: 280px;
    background-color: pink;
    object-fit: contain;
    text-align: center;
    margin: 10px;
    display: inline-block;
    border-radius: 15px;
    padding: 10px;
    transition: transform .2s ease, box-shadow .2s ease;
    /*para que se posicione dentro*/
    position: relative;
    flex: 1 1 240px; /*ocupa minimo 24 px, puede crecer y enocogerse*/
}

/*Cambio al pasar el cursor*/
.producto-tarjeta:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.producto-badge{
    position: absolute;
    background-color: darkred;
    top:10px;
    left:10px;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 20px;
}


/*Imagen*/
.producto-img{
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.producto.titulo{
    font-size: 20px;
    font-weight: bold;
}

.producto-desc{
    font-size: 14px;
    color: #5d0027;
    margin: 10px 15px;
}

/*Boton*/
.producto-btn{
    background-color: firebrick;
    color: violet;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}


.producto-btn:hover{
    background-color: darkred;
}


/*Boton position fixed*/
.boton-carrito{
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    background-color: deeppink;
    color: white;
    z-index: 1500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in-out;
}

.boton-carrito:hover{
    background-color: darkred;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
