/*Reset básico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /*Fuente traida desde Google fonts */
    font-family: "Dosis", sans-serif;
    box-sizing: border-box;
    background-color: #feeaf4;
}

header,
main {
    width: 100%;
    max-width: 1200px;
    /*se puede cambiar 900, 1000, etc*/
    margin: 0 auto;
}

section {
    padding: 25px;
}

.top-banner {
    background-color: pink;
    text-align: center;
    padding: 6px 25px;
    font-size: 16px;
    color: rgb(255, 0, 0);
    font-weight: bold;
}

/*NAV*/
.nav-principal {
    background-color: lightpink;
    padding: 15px 25px;
    max-width: 1200px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 1000;

    /*Agregando Flexbox*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


/* Menú de navegación */
.nav-lista {
    list-style: none;

    /*Agregando Flexbox*/
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-lista a {
    text-decoration: none;
    color: darkred;
    transition: 0.3s;
}

.nav-lista a:hover {
    color: #ff0084;
    /* cambio de color al el cursor */
}

.logo {
    font-size: 50px;
    font-weight: bold;
    color: darkred;
}


.contacto-section {
    background-color: plum;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
}

.contacto-contenido,
.contacto-aside {
    flex: 1 1 300px;
}

/* form */
.form-contacto {
    background: plum;
    padding: 20px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-contacto input,
.form-contacto textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/*Contenedor de productos*/
.productos-contenedor {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


/*Tarjetas de productos*/
.producto-tarjeta {
    background-color: pink;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    transition: transform .2s ease, box-shadow .2s ease;
    /*para que se posicione dentro*/
    position: relative;
    flex: 1 1 240px;
    /*ocupa minimo 24 px, puede crecer y enocogerse*/
}

/*Cambio al pasar el cursor*/
.producto-tarjeta:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Características de tarjeta */
.producto-img {
    width: 100%;
    height: 220px;
    object-fit: contain;
    background-color: #fafafa;
    padding: 10px;
}

.producto.titulo {
    font-size: 22px;
    font-weight: bold;
}

.producto-desc {
    font-size: 14px;
    color: #5d0027;
    margin: 10px 15px;
}

/*Boton*/
.producto-btn {
    background-color: firebrick;
    color: violet;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}


.producto-btn:hover {
    background-color: darkred;
}

.producto-badge {
    position: absolute;
    background-color: darkred;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 20px;
}




/*Boton position fixed*/
.boton-carrito {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    background-color: deeppink;
    color: white;
    z-index: 1500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in-out;
}

.boton-carrito:hover {
    background-color: darkred;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/*Footer*/
footer      {
    background-color: lightpink;
    text-align: center;
    padding: 15px 25px;
    margin-top: 30px;
    font-size: 14px;
    color: rgb(0, 139, 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cookie-boton {
    background-color: deeppink;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cookie-boton:hover {
    background-color: darkred;
}