.producto-tarjeta{
    width: 280px;
    background-color: pink;
    border-radius: 12px;
    text-align: center;
    margin: 10px;
    display: inline-block;
}

.producto-img{
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.producto.titulo{
    font-size: 20px;
    font-weight: bold;
}

.producto-desc{
    font-size: 14px;
    color: #5d0027;
}

.producto-btn{
    background-color: firebrick;
    color: violet;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}


.producto-btn:hover{
    background-color: darkred;
}